.container {
    display: grid; /* Ensure grid layout is applied */
    grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
    grid-template-rows: auto; /* Automatically size rows based on content */
    text-align: center;
    background-color: #bdbdbd;
    border-radius: 8px;
}

.TextContainer {
    grid-column: 2 / 3; /* Place this in the second column */
    grid-row: 1/3;
}

.imageContainer {
    grid-column: 1 / 2; /* Place this in the first column */
}
