.NavigationLinks{
    text-decoration: none;
    list-style: none;
    background-color: #ff6423;
}

.NavigationLinks li{
    display: inline-block;
    padding: 5px;
}

.NavigationLinks li a{
    color: white;
}

.NavigationLinks li:hover{
    background-color: #cd4b17;
}

.Logo{
    font-size: xx-large;
}

.LinkButton{
    background-color: #cd4b17;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.Links{
    color: white;
    padding: 5px;
}
.Links:hover{
    background-color: #cd4b17;
}
